<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хранилище</title>
    <link rel="stylesheet" href="/public-resources/basicStylesheet.css">
    <link rel="shortcut icon" type="image/png" href="/public-resources/favicon.ico">
    <script src="https://kit.fontawesome.com/acba7e06f3.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="logo" src="">
            </a>
        </div>
        <ul class="navbar-nav">
            <li>
                <a href="/about">
                    <i class="fa-solid fa-user-secret"></i>
                    <span>О создателе</span>
                </a>
            </li>
            <li th:if="${authed}">
                <a href="/profile">
                    <i class="fa-solid fa-user"></i>
                    <span th:text="${user}"></span>
                </a>
            </li>
            <li th:if="${authed}">
                <a href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Выход</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3 class="center">Ваш текущий логин: <span th:text="${user}"></span></h3>
    <form name='f' th:action="@{/change_password}" class="login" method='POST'>
        <label>
            <span>Пароль</span><br>
            <input class="our_input" id="password" type="password" minlength="8" maxlength="64"
                   onblur="hide_all()" onfocus="show_password()" oninput="test_password()" required name="password">
            <ul class="input-requirements" id="for_password">
                <li>От 8 до 64 символов</li>
                <li>Как минимум 1 строчная буква</li>
                <li>Как минимум 1 заглавная буква</li>
                <li>Как минимум 1 цифра</li>
                <li>Как минимум 1 спец. символ ($, @, ! и т.п.)</li>
            </ul>
        </label><br>

        <label>
            <span>Повторите пароль</span><br>
            <input class="our_input" id="password_again" type="password" oninput="test_password_repeat()" required>
        </label><br>

        <label>
            <span>Новый пароль</span><br>
            <input class="our_input" id="new_password" type="password" minlength="8" maxlength="64"
                   onblur="hide_all()" onfocus="show_new_password()" oninput="test_new_password()" required name="new_password">
            <ul class="input-requirements" id="for_new_password">
                <li>От 8 до 64 символов</li>
                <li>Как минимум 1 строчная буква</li>
                <li>Как минимум 1 заглавная буква</li>
                <li>Как минимум 1 цифра</li>
                <li>Как минимум 1 спец. символ ($, @, ! и т.п.)</li>
            </ul>
        </label><br>
        <input id="submit" type="submit" value="Сменить"/>
    </form>
    <div th:if="${param.error}" class="login_failed">
        Неверный пароль.
    </div>
</div>
</body>
<footer>
    <p>Максим Сысоев im.smd.dev@gmail.com</p>
</footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    const used_logins = /*[[${logins_taken}]]*/ [];
    /*]]>*/
</script>
<script src="/public-resources/baseForForms.js"></script>
<script src="/public-resources/passwordChangeForm.js"></script>
</html>