<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хранилище</title>
    <link rel="stylesheet" href="/public-resources/basicStylesheet.css">
    <link rel="shortcut icon" type="image/png" href="/public-resources/favicon.ico">
    <script src="https://kit.fontawesome.com/acba7e06f3.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="logo" src="">
            </a>
        </div>
        <ul class="navbar-nav">
            <li>
                <a href="/about">
                    <i class="fa-solid fa-user-secret"></i>
                    <span>О создателе</span>
                </a>
            </li>
            <li>
                <a href="/register">
                    <i class="fa-solid fa-id-card"></i>
                    <span>Регистрация</span>
                </a>
            </li>
            <li class="active">
                <a href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Вход</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <form name='f' th:action="@{/login}" class="login" method='POST'>
        <h1>Вход</h1>
        <table>
            <tr>
                <td>Логин или почта:</td>
                <td><label>
                    <input type='text' name='username' value=''>
                </label></td>
            </tr>
            <tr>
                <td>Пароль:</td>
                <td><label>
                    <input type='password' name='password'/>
                </label></td>
            </tr>
        </table>
        <input name="submit" type="submit" value="Войти"/>
    </form>
    <div th:if="${param.error}" class="login_failed">
        Неверный логин или пароль.
    </div>
</div>
</body>
<footer>
    <p>Максим Сысоев im.smd.dev@gmail.com</p>
</footer>
</html>